export(array.resistance, circuit, cube, currents, currents.matrix,
dodecahedron, icosahedron, ladder, makefullmatrix,
makefullmatrix_strict, octahedron, platonic, resistance, series,
tetrahedron, Wu, hypercube)
